body{
    
    font-family: 'Poppins', sans-serif;

}
.container {
    position: relative;
    text-align: center;
    color: white;
  }
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  input{
    width: 100%;
    background: transparent;
    outline: none;
    border: 0;
  }